<template>
    <div class="bingoPart">
        <table border="1">
            <thead>
            <tr id="headerBingo">
                <th colspan="99"><p>BINGO {{ this.nom }}</p></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(line, indexLine) in tab" :key="indexLine" class="strikeout">
                <td v-for="(col, indexCol) in line" :key="indexCol">
                    <p class="cell" v-bind:id="generateId(indexLine, indexCol)" v-if="col.valueOf() !== ''">{{ col.valueOf() }}</p>
                    <p v-bind:id="generateId(indexLine, indexCol)" v-else class="changeBackground"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import firebase from 'firebase/app'
    import 'firebase/database'

    export default {
        name: "BingoPart",
        data: function() {
            return {
                nom: "",
                line: 0,
                col: 0,
                widthCell: 8,
                tab: [],
                tabColor: []
            }
        },
        created: function () {
            firebase.database().ref('/bingo').once('value').then(
                (data) => {
                    let obj = data.val();
                    this.nom = obj.nom;
                    this.line = obj.line;
                    this.col = obj.col;
                    this.widthCell = obj.widthCell;
                    this.tab = obj.tab;
                    this.tabColor = obj.tabColor;
                }, (err) => {
                    alert(err)
                }
            )
        },
        beforeDestroy() {
            //unsub
        },
        updated() {
            let vue = this;
            let elements = document.getElementsByClassName("cell");

            for (let i = 0; i < elements.length; i++) {
                elements[i].style.width = vue.widthCell + "rem";
            }

            for (let i = 0; i < vue.line; i++) {
                for (let o = 0; o < vue.col; o++) {
                    let currentElement = document.getElementById("cell-" + i + "-" + o);
                    currentElement.parentElement.style.backgroundColor = vue.tabColor[i][o];
                }
            }
        },
        methods: {
            generateId(indexLine, indexCol) {
                return "cell-" + indexLine + "-" + indexCol
            },
            changeCell() {
                let vue = this;
                let elements = document.getElementsByClassName("cell");

                for (let i = 0; i < elements.length; i++) {
                    elements[i].style.width = vue.widthCell + "rem";
                }
            }
        }
    }
</script>

<style scoped>
    table {
        margin: auto;
        margin-top: 2rem;
        width: auto;
        border-color: black;
    }

    td {
        text-align: center;
    }

    p {
        margin-top: 1rem;
    }
</style>