<template>
    <div class="bingo" :key="bingoKey">
        <navbar v-show="edit"></navbar>
        <div v-show="edit">
            <b-input-group style="margin-left: auto; margin-right: auto; width: 20rem" id="inputColLine">
                <b-input-group-prepend>
                    <b-button>
                        <font-awesome-icon icon="columns"></font-awesome-icon>
                    </b-button>
                    <b-form-input style="width: 4rem" type="number" v-model="col" v-on:input="generateTab"></b-form-input>
                    <b-button>
                        <font-awesome-icon style="transform: rotate(270deg)" icon="columns"></font-awesome-icon>
                    </b-button>
                    <b-form-input style="width: 4rem" type="number" v-model="line" v-on:input="generateTab"></b-form-input>
                    <b-button>
                        <font-awesome-icon icon="text-width"></font-awesome-icon>
                    </b-button>
                    <b-form-input style="width: 4rem" type="number" v-model="widthCell" v-on:input="changeCell"></b-form-input>
                </b-input-group-prepend>
            </b-input-group>
        </div>
        <table>
            <thead>
            <tr id="headerBingo">
                <th colspan="99">
                    <font-awesome-icon v-on:click="saveBingo" v-show="edit" class="icon" size="lg" style="float: left;"
                                       icon="save"></font-awesome-icon>
                    <font-awesome-icon v-on:click="getShareLink()" v-show="edit" class="icon" size="lg" style="float: left;"
                                       icon="share-alt"></font-awesome-icon>
                    <font-awesome-icon v-on:click="randomizer" v-show="edit" class="icon" size="lg"
                                       style="float: right;" icon="dice"></font-awesome-icon>
                    <font-awesome-icon v-on:click="resetAll" v-show="edit" class="icon" size="lg"
                                       style="float: right;" icon="eraser"></font-awesome-icon>
                    <p id="bingoName">BINGO {{ nom }}</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(line, indexLine) in tab" :key="indexLine" class="strikeout" oncontextmenu="return false">
                <td v-for="(col, indexCol) in line" :key="indexCol" v-on:click.left="colorCell(indexLine, indexCol)"
                    v-on:contextmenu="uncolor(indexLine, indexCol)" class="tdCell">
                    <div v-show="edit" class="paramBarGradation">
                        <font-awesome-icon class="paramButton" icon="edit" v-on:click.stop="editCell(indexLine, indexCol)"></font-awesome-icon>
                    </div>
                    <div v-if="typeof col.valueOf() == 'string'">
                        <p class="cell" v-bind:id="generateId(indexLine, indexCol)" >{{ col.valueOf() }}</p>
                    </div>
                    <div v-for="(gradation, indexGrad) in col" :key="indexGrad" v-else>
                        <p class="cell" v-bind:id="generateId(indexLine, indexCol)" v-if="indexGrad == 0">{{ gradation.valueOf() }}</p>
                        <p v-show="false" class="cell" v-bind:id="generateIdGradation(indexLine, indexCol, indexGrad)" v-else >{{ gradation.valueOf() }}</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <b-button v-show="edit" v-on:click="swapMode" v-bind:style="buttonE">Mode BINGO !</b-button>
        <b-button v-show="!edit" v-on:click="swapMode" v-bind:style="buttonN">Mode EDITION</b-button>
        <div v-show="edit" class="bingoSave">
            <table border="1">
                <thead>
                <th>Nom</th>
                <th>Lignes</th>
                <th>Colonnes</th>
                <th>Taille Cell</th>
                <th>Appliquer</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
<!--                <tr v-show="this.$store.state.isAuth">-->
                <tr>
                    <td>Dernier Bingo Sauvegardé</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td v-on:click="appliquerLastSavedBingo()">
                        <font-awesome-icon class="buttonS" icon="check"></font-awesome-icon>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>[Pré-config] Zevent</td>
                    <td>7</td>
                    <td>7</td>
                    <td>8</td>
                    <td v-on:click="appliquerPC3()">
                        <font-awesome-icon class="buttonS" icon="check"></font-awesome-icon>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>[Pré-config] Mariage</td>
                    <td>5</td>
                    <td>5</td>
                    <td>8</td>
                    <td v-on:click="appliquerPC1()">
                        <font-awesome-icon class="buttonS" icon="check"></font-awesome-icon>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>[Pré-config] Cauchemar</td>
                    <td>5</td>
                    <td>5</td>
                    <td>8</td>
                    <td v-on:click="appliquerPC2()">
                        <font-awesome-icon class="buttonS" icon="check"></font-awesome-icon>
                    </td>
                    <td></td>
                </tr>
                <tr v-for="(leBingoSave, index) in lesBingosSave" :key="index" v-bind:le-bingo="leBingoSave"
                    :id="generateIDLigne(index)">
                    <td>{{leBingoSave[0]}}</td>
                    <td>{{leBingoSave[1]}}</td>
                    <td>{{leBingoSave[2]}}</td>
                    <td>{{leBingoSave[3]}}</td>
                    <td v-on:click="appliquer(leBingoSave)">
                        <font-awesome-icon class="buttonS" icon="check"></font-awesome-icon>
                    </td>
                    <td v-on:click="deleteBingoForStore(leBingoSave, index)">
                        <font-awesome-icon class="buttonS" icon="times"></font-awesome-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <b-modal id="superBingo" class="superBingo" size="lg" centered title="SUPER BINGO !" hide-footer>
            <iframe class="mx-auto" style="display: block" width="500rem" height="282rem" src="https://www.youtube.com/embed/WSsafS77zMs?start=40" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center" style="margin: 1rem">D7D8 D7D8</p>
        </b-modal>

        <b-modal :key="modalEditKey" id="modal-edit" ref="modal-edit" title="Edition d'une case" size="lg" centered hide-footer @close="modalEditClose" @hide="modalEditClose">

            <transition name="transition-b-alert"
                enter-to-class="animated bounceInLeft"
                leave-to-class="animated bounceOutRight">
                <b-alert fade :show="compteurAffichage" variant="success" @dismissed="compteurAffichage=0" @dismiss-count-down="compteurAffichageChanged" class="b-alert">
                    <h6 class="text-center">{{ messageAlert }}</h6>
                    <b-progress
                            variant="success"
                            :max="2"
                            :value="compteurAffichage"
                            height="4px"
                    ></b-progress>
                </b-alert>
            </transition>
            <b-input-group class="text-center mx-auto" style="width: 90%">
                <b-input-group-prepend style="width: 30%">
                    <b-button>
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                    </b-button>
                    <b-select v-model="indexToEdit" v-on:change="preFill">
                        <option v-for="(option, index) in tabToDisplayForEditModal" :value="index" v-bind:key="index">{{ option }}</option>
                    </b-select>
                </b-input-group-prepend>
                <b-input-group-append>
                    <b-button v-on:click.prevent.stop="addElementModalEdit">
                        <font-awesome-icon icon="plus"></font-awesome-icon>
                    </b-button>
                </b-input-group-append>

                <b-input v-model="editedValue"></b-input>
                <b-input-group-append>
                    <b-button v-on:click.prevent.stop="deleteElementModalEdit">
                        <font-awesome-icon icon="trash-alt"></font-awesome-icon>
                    </b-button>
                    <b-button v-on:click.prevent.stop="editElementModalEdit">
                        <font-awesome-icon icon="check"></font-awesome-icon>
                    </b-button>
                </b-input-group-append>
            </b-input-group>
        </b-modal>
    </div>
</template>

<script>
    import 'firebase/database'
    import Navbar from "./Navbar";

    export default {
        name: "Bingo.vue",
        components: {Navbar},
        data: function () {
            return {
                edit: true,
                nom: null,
                line: 1,
                col: 1,
                tab: [],
                lesBingosSave: [],
                cptForRandom: 0,
                widthCell: 8,
                bingoKey: 0,
                tabColor: null,
                tabGrad: {},
                tabUpdated: [],

                // ForEditModal
                tabToDisplayForEditModal: [],
                tabIndexSelecForEditModal: [],
                indexToEdit: null,
                editedValue: "",
                modalEditKey: 0,

                //Alert
                messageAlert: "",
                compteurAffichage: 0,
            }
        },
        computed: {
            //Couleur
            validationColor() {
                return this.$store.state.validationColor
            },
            bingoColor() {
                return this.$store.state.bingoColor
            },

            buttonE:  function () {
                return {
                    'margin-top': '1rem',
                    "background-color": this.validationColor,
                }
            },
            buttonN: function () {
                return {
                    "margin-top": '2rem',
                    "margin-right": '1rem',
                    "background-color": this.bingoColor,
                }
            }
        },
        created: function () {
            this.getLesBingos();
        },
        updated: function () {
            let elementsCell = document.getElementsByClassName("cell");
            for (let i = 0; i < elementsCell.length; i++) {
                elementsCell[i].parentElement.style.backgroundImage = '';
                elementsCell[i].parentElement.style.backgroundSize = '';
                elementsCell[i].parentElement.style.backgroundRepeat = '';
                elementsCell[i].parentElement.style.backgroundPosition = '';
            }

            this.changeCell();

            if (this.tabColor != null) {
                for (let i = 0; i < this.line; i++) {
                    for (let o = 0; o < this.col; o++) {
                        let currentElement = document.getElementById("cell-" + i + "-" + o);
                        currentElement.parentElement.parentElement.style.background = this.tabColor[i][o];
                    }
                }
                this.tabColor = null;
            }
        },
        methods: {
            generateTab() {
                let vue = this;
                vue.tab = [];

                for (let i = 0; i < vue.line; i++) {
                    let newTab = [];
                    vue.tab.push(newTab);
                    for (let o = 0; o < vue.col; o++) {
                        let tabValue = [];
                        vue.tab[i].push(tabValue);

                        vue.tab[i][o] = ['Xari-Bingo']
                    }
                }
            },
            generateId(indexLine, indexCol) {
                return "cell-" + indexLine + "-" + indexCol
            },
            generateIdGradation(indexLine, indexCol, indexGrad) {
                return "cell-" + indexLine + "-" + indexCol + "-" + indexGrad
            },
            swapMode() {
                this.edit = !this.edit;
            },
            colorCell(indexLine, indexCol) {
                let vue = this;
                if (!this.edit) {
                    if (vue.tabGrad[indexLine + "-" + indexCol] === undefined) {
                        vue.tabGrad[indexLine + "-" + indexCol] = 1;
                    } else if (vue.tabGrad[indexLine + "-" + indexCol] < this.tab[indexLine][indexCol].length) {
                        vue.tabGrad[indexLine + "-" + indexCol] = vue.tabGrad[indexLine + "-" + indexCol] + 1;
                    }
                    vue.afficherElementSuivant(indexLine, indexCol);
                    vue.colorPourcentage(indexLine, indexCol, vue.validationColor);
                    vue.checkBingo();
                } else {
                    if (vue.tabGrad[indexLine + "-" + indexCol] === undefined) {
                        vue.tabGrad[indexLine + "-" + indexCol] = 1;
                    } else if (vue.tabGrad[indexLine + "-" + indexCol] < this.tab[indexLine][indexCol].length) {
                        vue.tabGrad[indexLine + "-" + indexCol] = vue.tabGrad[indexLine + "-" + indexCol] + 1;
                    }
                    vue.afficherElementSuivant(indexLine, indexCol);
                }

                this.autoSaveBingo();
            },
            uncolor(indexLine, indexCol){
                let vue = this;
                let lastValue;
                    if (!this.edit) {
                        if (vue.tabGrad[indexLine + "-" + indexCol] > 0) {
                            if (vue.tabGrad[indexLine + "-" + indexCol] == this.tab[indexLine][indexCol].length) {
                                lastValue = true;
                            }
                            vue.tabGrad[indexLine + "-" + indexCol] = vue.tabGrad[indexLine + "-" + indexCol] - 1;
                        }
                        let element = document.getElementById("cell-" + indexLine + "-" + indexCol).parentElement;
                        if (element.tagName != 'TD') {
                            element = element.parentElement;
                        }

                        if (element.style.backgroundRepeat !== 'no-repeat') {
                            if (element.classList.contains("flagValide")) {
                                let diagonale = false;
                                let antDiagonale = false;

                                // Check si la case est dans une diagonale
                                if (vue.col == vue.line) {
                                    let indexMid = (vue.line - 1) / 2;

                                    if (indexLine === indexCol) {
                                        diagonale = true;
                                        if (indexLine === indexMid && indexCol === indexMid)
                                            antDiagonale = true;
                                    } else {
                                        let o = vue.line - 1;
                                        for (let i = 0; i < vue.line; i++) {
                                            if (o === indexLine && i === indexCol) {
                                                antDiagonale = true;
                                            }
                                            o = o - 1;
                                        }
                                    }
                                }

                                // Remplace tout les grey par des vert sur la diagonale
                                if (diagonale || antDiagonale) {
                                    let o = vue.line - 1;
                                    for (let i = 0; i < vue.line; i++) {
                                        let cellInAntDiag = document.getElementById("cell-" + o + "-" + i).parentElement;
                                        if (cellInAntDiag.tagName != 'TD') {
                                            cellInAntDiag = cellInAntDiag.parentElement;
                                        }
                                        if (cellInAntDiag.classList.contains("flagValide")) {
                                            vue.colorPourcentage(o, i, vue.validationColor);
                                        }
                                        o = o - 1;
                                    }

                                    for (let i = 0; i < vue.col; i++) {
                                        let cellInDiag = document.getElementById("cell-" + i + "-" + i).parentElement;
                                        if (cellInDiag.tagName != 'TD') {
                                            cellInDiag = cellInDiag.parentElement;
                                        }
                                        if (cellInDiag.classList.contains("flagValide"))
                                            vue.colorPourcentage(i, i, vue.validationColor);
                                    }
                                }
                                // Remplace tout les grey par des vert sur les lignes/colonnes
                                for (let i = 0; i < vue.col; i++) {
                                    let cellInCol = document.getElementById("cell-" + indexLine + "-" + i).parentElement;
                                    if (cellInCol.tagName != 'TD') {
                                        cellInCol = cellInCol.parentElement;
                                    }
                                    if (cellInCol.classList.contains("flagValide")) {
                                        vue.colorPourcentage(indexLine, i, vue.validationColor);
                                    }
                                }

                                for (let i = 0; i < vue.line; i++) {
                                    let cellInLine = document.getElementById("cell-" + i + "-" + indexCol).parentElement;
                                    if (cellInLine.tagName != 'TD') {
                                        cellInLine = cellInLine.parentElement;
                                    }
                                    if (cellInLine.classList.contains("flagValide"))
                                        vue.colorPourcentage(i, indexCol, vue.validationColor);
                                }

                                element.style.backgroundColor = "";
                            }
                        }

                        if (!lastValue) {
                            vue.afficherElementPrecedent(indexLine, indexCol);
                        }
                        vue.colorPourcentage(indexLine, indexCol, vue.validationColor);
                        vue.checkBingo();
                    } else {
                        if (vue.tabGrad[indexLine + "-" + indexCol] > 0) {
                            if (vue.tabGrad[indexLine + "-" + indexCol] == this.tab[indexLine][indexCol].length) {
                                if (vue.tabGrad[indexLine + "-" + indexCol] > 2)
                                    vue.tabGrad[indexLine + "-" + indexCol] = vue.tabGrad[indexLine + "-" + indexCol] - 1
                            }
                            vue.tabGrad[indexLine + "-" + indexCol] = vue.tabGrad[indexLine + "-" + indexCol] - 1;
                            vue.afficherElementPrecedent(indexLine, indexCol)
                        }
                    }
                    this.autoSaveBingo();
            },
            checkBingo() {
                let vue = this;
                let cptLigneVert = 0;
                let cptSuperBingo = 0;
                let currentElement = null;

                for (let i = 0; i < this.line; i++) {
                    cptLigneVert = 0;
                    for (let o = 0; o < this.col; o++) {
                        currentElement = document.getElementById("cell-" + i + "-" + o).parentElement;
                        if (currentElement.tagName != "TD") {
                            currentElement = currentElement.parentElement;
                        }

                        // Ligne
                        if (currentElement.classList.contains("flagValide")) {
                            cptLigneVert = cptLigneVert + 1
                        }
                        if (cptLigneVert === this.tab[i].length) {
                            for (let p = 0; p < this.col; p++) {
                                let bingo = document.getElementById("cell-" + i + "-" + p).parentElement;
                                if (bingo.tagName != 'TD') {
                                    bingo = bingo.parentElement;
                                }
                                if (bingo.style.backgroundSize !== 'contain') {
                                    vue.colorPourcentage(i, p, "grey")
                                }
                            }
                        }
                    }
                }

                let tabCptCol = [];
                for (let i = 0; i < this.col; i++) {
                    tabCptCol.push(0)
                }

                for (let i = 0; i < this.line; i++) {
                    for (let o = 0; o < this.col; o++) {
                        // Col
                        currentElement = document.getElementById("cell-" + i + "-" + o).parentElement;
                        if (currentElement.tagName != "TD") {
                            currentElement = currentElement.parentElement;
                        }
                        if (currentElement.classList.contains("flagValide")) {
                            tabCptCol[o] = tabCptCol[o] + 1;
                        }
                    }
                }

                //Check diago & antiDiag
                if (vue.col == vue.line) {
                    //Diag
                    let cptDiag = 0;
                    for (let i = 0; i < vue.line; i++) {
                        let currentElement = document.getElementById("cell-" + i + "-" + i).parentElement;
                        if (currentElement.tagName != "TD") {
                            currentElement = currentElement.parentElement;
                        }

                        if (currentElement.classList.contains("flagValide")) {
                            cptDiag = cptDiag + 1;
                        }
                    }

                    if (cptDiag == vue.line) {
                        for (let i = 0; i < vue.line; i++) {
                            let bingo = document.getElementById("cell-" + i + "-" + i).parentElement;
                            if (bingo.tagName != "TD") {
                                bingo = bingo.parentElement;
                            }

                            if (bingo.style.backgroundSize !== 'contain') {
                                vue.colorPourcentage(i, i, "grey")
                            }
                        }
                    }

                    // AntiDiag
                    let cptAntidiag = 0;
                    let o = vue.line - 1;
                    for (let i = 0; i < vue.line; i++) {
                        let currentElement = document.getElementById("cell-" + i + "-" + o).parentElement;
                        if (currentElement.tagName != "TD") {
                            currentElement = currentElement.parentElement;
                        }

                        if (currentElement.classList.contains("flagValide")) {
                            cptAntidiag = cptAntidiag + 1;
                        }

                        o = o - 1;
                    }

                    if (cptAntidiag == vue.line) {
                        let o = vue.line - 1;
                        for (let i = 0; i < vue.line; i++) {
                            let bingo = document.getElementById("cell-" + i + "-" + o).parentElement;
                            if (bingo.tagName != "TD") {
                                bingo = bingo.parentElement;
                            }

                            if (bingo.style.backgroundSize !== 'contain') {
                                vue.colorPourcentage(i, o, "grey")
                            }

                            o = o - 1;
                        }
                    }
                }

                for (let i = 0; i < tabCptCol.length; i++) {
                    if (tabCptCol[i] == vue.line) {
                        for (let o = 0; o < this.line; o++) {
                            let bingo = document.getElementById("cell-" + o + "-" + i).parentElement;
                            if (bingo.tagName != "TD") {
                                bingo = bingo.parentElement;
                            }

                            if (bingo.style.backgroundSize !== 'contain') {
                                vue.colorPourcentage(o, i, "grey")
                            }
                        }
                    }
                }

                //SuperBingo
                for (let i = 0; i < this.line; i++) {
                    for (let o = 0; o < this.col; o++) {
                        currentElement = document.getElementById("cell-" + i + "-" + o).parentElement;
                        if (currentElement.tagName != "TD") {
                            currentElement = currentElement.parentElement;
                        }
                        if (currentElement.classList.contains("flagValide")) {
                            cptSuperBingo = cptSuperBingo + 1;
                        }

                        if (cptSuperBingo === this.tab[i].length * this.tab.length) {
                            vue.show();
                        }
                    }
                }
            },
            saveBingo() {
                let leNom = "";
                do {
                    leNom = prompt("Nom du Bingo :", this.nom);
                    leNom = leNom.trim();
                } while(leNom === "" );
                let leBingo = [];
                leBingo.push(leNom);
                leBingo.push(this.line);
                leBingo.push(this.col);
                leBingo.push(this.widthCell);
                leBingo.push(this.tab);
                this.$store.commit("addBingo", leBingo);

                this.appliquer(leBingo);
                this.getLesBingos();
            },
            getLesBingos() {
                let vue = this;
                let lesBingos = JSON.parse(localStorage.getItem("xariBingo"));
                vue.lesBingosSave = [];

                if (lesBingos != null) {
                    lesBingos.forEach(function (element) {
                        vue.lesBingosSave.push(element)
                    })
                }
            },
            deleteBingoForStore(leBingo) {
                this.$store.commit("deleteBingo", leBingo);

                this.getLesBingos();
            },
            generateIDLigne(index) {
                return "leBingo-" + index;
            },
            appliquer(leBingo) {
                this.nom = leBingo[0];
                this.line = leBingo[1];
                this.col = leBingo[2];
                this.widthCell = leBingo[3];
                this.tab = leBingo[4];
            },
            randomizer() {
                let vue = this;
                vue.appliquer([vue.nom, vue.line, vue.col, vue.widthCell, vue.tab]);
                let all = [];

                for (let i = 0; i < vue.line; i++) {
                    for (let o = 0; o < vue.col; o++) {
                        all.push(vue.tab[i][o]);
                    }
                }

                let indexAlreadyTakeTab = [];
                let tabRandomise = [];

                for (let i = 0; i < all.length; i++) {
                    let value = all[i];
                    let indexAlreadyTake;
                    let randomIndex;

                    do {
                        randomIndex = Math.floor(Math.random() * Math.floor(all.length));
                        indexAlreadyTake = false;

                        for (let o = 0; o < indexAlreadyTakeTab.length; o++) {
                            if (indexAlreadyTakeTab[o] === randomIndex) {
                                indexAlreadyTake = true;
                            }
                        }
                    } while (indexAlreadyTake);

                    indexAlreadyTakeTab.push(randomIndex);
                    if (value === null)
                        value = "";

                    tabRandomise[randomIndex] = value;
                }

                vue.tab = [];
                vue.resetTabForSetValueAfterARandom();
                for (let i = 0; i < vue.line; i++) {
                    let newTab = [];
                    vue.tab.push(newTab);
                    for (let o = 0; o < vue.col; o++) {
                        vue.tab[i].push(tabRandomise[vue.setValueAfterARandom()]);
                    }
                }
                this.autoSaveBingo();
            },
            setValueAfterARandom() {
                let valueToReturn = this.cptForRandom;
                this.cptForRandom++;
                return valueToReturn;
            },
            resetTabForSetValueAfterARandom() {
                this.cptForRandom = 0;
            },
            show() {
                this.$bvModal.show('superBingo', {
                    title: "SUPER BINGO !",
                });
            },
            changeCell() {
                let vue = this;
                let elements = document.getElementsByClassName("cell");
                for (let i = 0; i < elements.length; i++) {
                    elements[i].style.width = vue.widthCell + "rem";
                }
            },
            appliquerPC1() {
                this.nom = "[Pre-config] Mariage";
                this.line = 5;
                this.col = 5;
                this.widthCell = 8;
                this.tab = [
                    [["Il n'y avait pas d'émotion..."], ["Le mari met 20/20 à sa chérie"], ["7/20"], ["J'ai adoré \"11/20\""], ["C'est de la stratégie"]],
                    [["Rencontre en boite de nuit / Sur Internet"], ["8/20"], ["Maître Gims / Lartiste / Khaled / MagicS"], ["Insulte(s)"], ["Budget plus de 25K"]],
                    [["Carrelage dans la salle de réception"], ["Un accent"], ["\"Chic/Strass\" dans le nom du thème"], ["T'as pas vu à son mariage à elle..."], ["L'ambiance est arrivée trop tard"]],
                    [["Ce n'est pas le thème"], ["Pleurs"], ["\"Moi j'ai été honnête\""], ["Toutes les notes < 11"], ["La gentille perd"]],
                    [["Blague de merde"], ["Mariée de moins de 25 ans"], ["J'ai été déçu"], ["Brelan de note"], ["Note > 15"]]
                ];
            },
            appliquerPC2() {
                this.nom = "[Pre-config] Cauchemar";
                this.line = 5;
                this.col = 5;
                this.widthCell = 8;
                this.tab = [
                    [["\"J'ai jamais vu ça\""], ["Cuisine sale"], ["\"Tu oses servir ça ?\""], ["Bouffe périmée"], ["Plus de 30 plats à la carte"]],
                    [["Musique épique"], ["Restau familial"], ["Il mange < 20 % du plat"], ["Mauvaise foi évidente d'un employé"], ["Etchebest mal prononcé"]],
                    [["Restau fermé depuis"], ["Séquence Pascal le Grand Frère"], ["Ça marchait avant"], ["Un mec ne branle rien"], ["Pleurs"]],
                    [["Accent"], ["Attente > 30 min"], ["Zetsu (mec qui fait tout dans l'ombre)"], ["Le chef n'a plus l'envie de cuisiner"], ["Bouffe surgelée"]],
                    [["le problème c'est la communication"], ["Un des mecs est en retard le matin"], ["Moins de 3 tables quand Etchebest arrive"], ["Le chef ne goûte pas ses plats"], ["On n'a jamais eu de plaintes"]]
                ];
            },
            appliquerPC3() {
                this.nom = "[Pre-config] Zevent";
                this.line = 7;
                this.col = 7;
                this.widthCell = 8;
                this.tab = [
                    [["1Million500K"], ["CarlJR bat un de ses PB sur trackmania"], ["La chanson \"Belle\" est chantée"], ["Sardoche rage (masse)"], ["Qqn fait une game TFT parfaite"], ["Qqn casse son matos"], ["Un streamer(hors sard) fait un 24h"]],
                    [["Etoiles gagne l'UHC"], ["444K à minuit Vendredi"], ["La france gagne le showmatch CIV"], ["1 Million"], ["JDG atteint Mars sur Kerbal"], ["Qqn fait un pentakill"], ["Connexion/Courant qui saute"]],
                    [["4 lignes dans le bingo REACT"], ["Qqn fait un plus de 180 à la Golf It Cup"], ["CarlJr gagne la TMCUP"], ["Je dépasse 130 BPM"], ["Aldériate crie de la merde"], ["Un streamer valide 3 cases à lui seul"], ["Pari de 1K entre streamers"]],
                    [["Jiraya obtient Zaiross"], ["MV finit 4 niveaux en super expert"], ["Je passe Diamant sur TFT"], ["Plus gros donation goal atteint par un streamer"], ["Team Xari/Jiji gagne le mario Party"], ["Don de 5000€ ou +"], ["Sardoche dort moins de 10h"]],
                    [["AntoineDaniel bat son PB sur GeoGuesser"], ["Quelqu'un tombe"], ["Qqn fait un nuke sur CoD"], ["ITM au poker"], ["Locklear se fait sortir/péter sa flûte"], ["Un streamer pleure"], ["350K viewvers simultanés"]],
                    [["Narkuss/Doig chantent en live"], ["Je mine plus de 150 Diams"], ["Un streamer dort devant son live"], ["Un streamer perd sa voix"], ["Une case se valide 5 fois"], ["Zevent au JT avant la fin de l'event"], ["MV dépasse 200K de dons"]],
                    [["Un streamer pack un 90+ sur FIFA"], ["Plus de 10 streams à 7h du mat"], ["30K teeshirts vendus"], ["Je tue Gotaga sur Minecraft"], ["Homme politique/Célébrité tweete"], ["Je fais top1 sur Fortnite"], ["Masterkill x200 ou +"]]
                ]
            },
            autoSaveBingo() {
                let saveBingo = {
                    nom: this.nom,
                    line: this.line,
                    col: this.col,
                    widthCell: this.widthCell,
                    tab: this.tab,
                };
                localStorage.setItem('lastBingo', JSON.stringify(saveBingo));
            },
            appliquerLastSavedBingo() {
                let lastBingo = JSON.parse(localStorage.getItem('lastBingo'));
                this.nom = lastBingo.nom;
                this.line = lastBingo.line;
                this.col = lastBingo.col;
                this.widthCell = lastBingo.widthCell;
                this.tab = lastBingo.tab;
            },
            resetAll() {
                for (let i = 0; i < this.line; i++) {
                    for (let o = 0; o < this.col; o++) {
                        let tabValue = this.tabGrad[i + "-" + o];
                        for (let h = 0; h < tabValue; h++)
                            this.unColorErase(i, o);
                        }
                    }
                this.resetTabGradAndVue();
            },
            getShareLink() {
                if (this.$store.state.isAuth) {
                    alert("Lien du partage : /#/" + this.$route.fullPath + "/public");
                } else {
                    alert("Il faut être connecté pour que le partage soit actif");
                }
            },
            afficherElementSuivant(indexLine, indexCol) {
                let vue = this;
                let element;
                let newElement;
                let indexGrad = vue.tabGrad[indexLine + "-" + indexCol] - 1;
                if (indexGrad === undefined || indexGrad == null || indexGrad == 0) {
                    element = document.getElementById("cell-" + indexLine + "-" + indexCol);
                    newElement = element.parentElement.nextElementSibling;
                } else {
                    element = document.getElementById("cell-" + indexLine + "-" + indexCol + "-" + indexGrad);
                    newElement = element.parentElement.nextElementSibling;
                }

                if (newElement != undefined || newElement != null) {
                    newElement = newElement.firstElementChild;
                    element.style.display = "none";
                    newElement.style.display = "";
                }
                vue.checkBingo();
            },
            afficherElementPrecedent(indexLine, indexCol) {
                let vue = this;
                let element;
                let newElement;

                let wesh = this.tabGrad[indexLine + "-" + indexCol] + 1;
                element = document.getElementById("cell-" + indexLine + "-" + indexCol + "-" + wesh);
                if (element === undefined || element == null) {
                    wesh = wesh - 1;
                    if (wesh === 0) {
                        element = document.getElementById("cell-" + indexLine + "-" + indexCol);
                        return;
                    }
                    element = document.getElementById("cell-" + indexLine + "-" + indexCol + "-" + wesh);
                }
                newElement = element.parentElement.previousElementSibling;
                if (newElement != undefined || newElement != null) {
                    newElement = newElement.firstElementChild;
                    element.style.display = "none";
                    newElement.style.display = "";
                }
                vue.checkBingo();
            },
            resetTabGradAndVue(){
                for (let i = 0; i < this.line; i++) {
                    for (let o = 0; o < this.col; o++) {
                        this.colorPourcentage(i, o, this.validationColor)
                    }
                }
                this.tabGrad = {};
            },
            colorPourcentage(indexLine, indexCol, color) {
                let grad;
                if (this.tabGrad[indexLine + "-" + indexCol] == null || this.tabGrad[indexLine + "-" + indexCol] === undefined) {
                    grad = 0
                } else {
                    grad = this.tabGrad[indexLine + "-" + indexCol]
                }

                let caculPourcentage = grad / this.tab[indexLine][indexCol].length * 100;
                let element = document.getElementById("cell-" + indexLine + "-" + indexCol).parentElement;
                if (element.tagName != "TD") {
                    element = element.parentElement;
                }

                let stringBackroud = "linear-gradient(bottom, " + color + " " + caculPourcentage + "%, white " + caculPourcentage + "%)";
                element.style.backgroundColor = "";
                element.style.background = "-webkit-" + stringBackroud;
                element.style.background = "-moz-" + stringBackroud;
                element.style.background = "-ms-" + stringBackroud;
                element.style.background = stringBackroud;
                element.style.backgroundSize = "80%";

                if (caculPourcentage > 0) {
                    element.classList.add("flagValide")
                } else {
                    element.classList.remove("flagValide")
                }
            },
            unColorErase(indexLine, indexCol) {
                let element = document.getElementById("cell-" + indexLine + "-" + indexCol).parentElement;
                if (element.tagName != "TD") {
                    element = element.parentElement;
                }

                this.uncolor(indexLine, indexCol);

                element.style.backgroundColor = "";
                element.style.background = "";
            },
            editCell(indexLine, indexCol) {
                let vue = this;
                if (this.edit) {
                    vue.tabIndexSelecForEditModal = [indexLine, indexCol];
                    vue.tabToDisplayForEditModal = vue.tab[indexLine][indexCol];
                    vue.indexToEdit = 0;
                    vue.editedValue = vue.tab[indexLine][indexCol][vue.indexToEdit];
                    vue.$bvModal.show("modal-edit")
                }
            },
            editElementModalEdit() {
                this.tabToDisplayForEditModal[this.indexToEdit] = this.editedValue;
                this.tab[this.tabIndexSelecForEditModal[0]][this.tabIndexSelecForEditModal[1]] = this.tabToDisplayForEditModal;

                this.showAlert("Gradation modifiée !");
                this.autoSaveBingo()
            },
            deleteElementModalEdit() {
                let vue = this;
                if (vue.tabToDisplayForEditModal[this.indexToEdit] !== undefined ) {
                    this.$bvModal.msgBoxConfirm("Êtes-vous sûr de vouloir supprimer \"" + vue.tabToDisplayForEditModal[this.indexToEdit] + "\" ?", {
                        title: "Confirmation de suppression",
                        size: "sm",
                        okTitle: "Oui",
                        cancelTitle: "Non",
                        centered: true
                    }).then( confirmation => {
                        if (confirmation) {
                            vue.tabToDisplayForEditModal.splice(this.indexToEdit, 1);
                            vue.tab[this.tabIndexSelecForEditModal[0]][this.tabIndexSelecForEditModal[1]] = vue.tabToDisplayForEditModal;

                            vue.indexToEdit = 0;
                            vue.editedValue = vue.tab[this.tabIndexSelecForEditModal[0]][vue.tabIndexSelecForEditModal[1]][vue.indexToEdit];

                            vue.showAlert("Gradation supprimée !");
                            vue.autoSaveBingo();
                        }
                    })
                }
            },
            addElementModalEdit() {
                this.tab[this.tabIndexSelecForEditModal[0]][this.tabIndexSelecForEditModal[1]].push('Xari-Bingo');
                this.showAlert("Gradation Ajoutée !");
                this.autoSaveBingo();
            },
            preFill() {
                this.editedValue = this.tab[this.tabIndexSelecForEditModal[0]][this.tabIndexSelecForEditModal[1]][this.indexToEdit];
            },
            modalEditClose() {
                this.bingoKey = this.bingoKey + 1;
                this.bingoKey = this.bingoKey - 1;
                this.resetAll();
            },
            compteurAffichageChanged(compteurAffichage) {
                this.compteurAffichage = compteurAffichage
            },
            showAlert(message) {
                this.messageAlert = message;
                this.compteurAffichage = 2;
            }
        },
    }
</script>

<style scoped>
    table, th, tr, td {
        border: 1px solid black;
    }

    table {
        margin: auto;
        margin-top: 2rem;
        width: auto;
    }

    td {
        text-align: center;
    }

    p {
        margin-top: 1rem;
    }

    .icon {
        margin: 1rem;
    }

    .icon:hover {
        transform: scale(1.25);
    }

    #inputColLine {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    .paramBarGradation
    {
        top: 0;
        right: 0;
        position: absolute;
    }

    .paramButton {
        margin-right: 2px;
        opacity: 0.6
    }

    .paramButton:hover {
        transform: scale(1.20);
        opacity: 0.8;
    }

    .buttonS:hover {
        transform: scale(1.25);
    }

    .tdCell {
        position: relative;
    }

    .bingo {
        position: relative;
    }

    .b-alert {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
    }
</style>
