<template>
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand class="titre" href="/">Xari BINGO</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item v-on:click="newsSwap">Changelog</b-nav-item>
                <b-nav-item v-on:click="tutoSwap">Tutoriel</b-nav-item>
                <b-nav-item disabled>Version {{ this.$store.state.version }}</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <div class="login">
                        <div v-show="!this.$store.state.isAuth">
                            <b-form-input v-model="email" type="email" size="sm" class="mr-sm-2" placeholder="Email"></b-form-input>
                            <b-form-input v-model="password" type="password" size="sm" class="mr-sm-2" placeholder="Mot de Passe"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" v-on:click="login">Connexion</b-button>
                        </div>
                        <div v-show="this.$store.state.isAuth">
                            <b-button size="sm" class="my-2 my-sm-0" v-on:click="logout">Xari - Logout</b-button>
                        </div>
                    </div>
                </b-nav-form>
            </b-navbar-nav>
        </b-collapse>
        <b-modal id="news">
            <div style="overflow: auto; height: 400px;">
                <div>
                    <h1>V3.1.4</h1>
                    <ul>- Ajout de la sauvegarde auto (pas les couleurs)</ul>
                </div>
                <div>
                    <h1>V3.1.3</h1>
                    <ul>- Problème des boutons résolu</ul>
                    <ul>- Début d'ajout d'animation</ul>
                </div>
                <div>
                    <h1>V3.1.2</h1>
                    <ul>- Retrait d'une alerte oubliée</ul>
                    <ul>- Amélioration de la réactivité des boutons suite à une MAJ des dépendances</ul>
                </div>
                <div>
                    <h1>V3.1.1 Less But More</h1>
                    <ul>- Abandon de vue-js-modal</ul>
                    <ul>- Pour, à la place, BootStrap-Modal for Vue-js</ul>
                    <ul>- Les bouttons de l'édition bug moins, toujours pas trouvé la raison (Il semble que stoper la propagation a amélioré la situation)</ul>
                    <ul>- Diverses améliorations graphiques</ul>
                </div>
                <div>
                    <h1>V3.1.0 Dimension</h1>
                    <ul>- Ajout de la fonctionnalité "Gradation"</ul>
                    <ul>- Click gauche pour valider une case et droit pour invalider</ul>
                    <ul>- Edit d'une case qui a changé, quelque bug sur les bouttons pour une raison que j'ignore</ul>
                    <ul>- Diverses améliorations graphiques</ul>
                    <ul>- Mise à jour des Pré-config 3/11/2019</ul>
                </div>
                <div>
                    <h1>V3.0.1</h1>
                    <ul>- Correction du placement de la barre</ul>
                </div>
                <div>
                    <h1>V3.0.0 Zevent</h1>
                    <ul>- Refonte Graphique</ul>
                    <ul>- Ajout de la fonctionnalité du Bingo partagé !</ul>
                    <ul>Il suffit de se connecter en tant que Xari et remplir en mode bingo, le bingo partagé se mettra à jour à chaque changement de couleur sur le lien de partage</ul>
                    <ul>- Récupération du dernier bingo synchronisé si connecté.</ul>
                    <ul>- Suppression de la fonctionnalité quand la case est vide, une image de fond s'ajoute</ul>
                </div>
                <div>
                    <h1>V2.9.3</h1>
                    <ul>- Correction d'un bug concernant les diagonales. Changement des "===" en "==" à cause du champ
                        input. Il est possible que d'autres problèmes aient lieu ayant comme base ce problème.</ul>
                </div>
                <div>
                    <h1>V2.9.2</h1>
                    <ul>- Correction des bugs sur la "Dé-sélection" des diagonales, notamment la case du milieu</ul>
                </div>
                <div>
                    <h1>V2.9.1</h1>
                    <ul>- Gestion lors d'une "dé-sélection" d'une case sachant que cette case forme un bingo (Case
                        Grise). La case sélectionnée va devenir blanche et les autres cases du bingo formé (Cases grises
                        de la ligne/colonne/diagonale vont redevenir vertes si elles le doivent.</ul>
                    <ul>- Ajout des boutons "Tutoriel" et "Changelog"</ul>
                </div>
                <div>
                    <h1>V2.9</h1>
                    <ul>- Stream mode. Background en bleu, texte en blanc avec contour noir pour les faire ressortir (Un
                        peu comme les sous-titres)</ul>
                </div>
                <div>
                    <h1>V2.8</h1>
                    <ul>- Correction du bug "Multi input" de la 2.7</ul>
                </div>
                <div>
                    <h1>V2.7</h1>
                    <ul>- Prise en compte des diagonales (Pour les bingos carrés)</ul>
                    <ul>- Sauvegarde par nom (Donner un nouveau nom fera une nouvelle sauvegarde...)</ul>
                    <ul>- Et donc donner le même nom mettra à jour la sauvegarde avec ce nom (Logique)</ul>
                    <ul>- Correction du bug : "Après un input, la case se freeze et affiche tout le temps la même chose
                        même si la valeur est incorrect".</ul>
                </div>
            </div>
        </b-modal>
        <b-modal id="tuto">
            <div style="text-align: center;">
                <ul>Premièrement il faut ajouter des lignes/colonnes. Ensuite pour éditer une case il suffit de double
                    cliquer et appuyer sur ENTER</ul>
                <ul>Il est possible de faire un logo en laissant le champ vide.</ul>
                <ul>Une fois l'édition terminée il faut passer en mode BINGO !</ul>
            </div>
        </b-modal>
    </b-navbar>
</template>

<script>
    import firebase from 'firebase/app'
    import 'firebase/auth';

    export default {
        name: "Navbar",
        data: function () {
            return {
                email: '',
                password: '',
                nbTent: 0,
            }
        },
        methods: {
            newsSwap() {
                this.$bvModal.show('news')
            },
            tutoSwap() {
                this.$bvModal.show('tuto')
            },
            login(){
                let lthis = this;
                if (this.nbTent <= 2) {
                    firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
                        function (user) {
                            lthis.$store.state.isAuth = true;
                        },
                        function (error) {
                            alert(error)
                        }
                    );
                    lthis.nbTent = this.nbTent + 1;
                } else {
                    alert("Trop de tentatives. 10 min de TO");
                }
            },
            logout() {
                let lthis = this;
                firebase.auth().signOut().then(
                    function () {
                        lthis.$store.state.isAuth = false;
                    }
                )
            },
        },
    }
</script>

<style scoped>
    nav {
        margin-bottom: 2rem;
    }

    .titre:hover {
        transform: scale(1.15);
    }
</style>
